header {
   background-color: #540000;
   color: #FFFFFF;
   text-align: center;
   max-width: 800px;
   margin: 0 auto;

}

main {
   color: #540000;
   margin: 0 auto;
   padding: 16px;

   display: flex;
   flex-wrap: wrap;
}

article {
   display: flex;

   border: 1px solid #540000;
   margin: 16px;
   gap: 16px;
   padding: 16px;

   flex: 1 1 50%;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;

}

img {
   width: 80px;
   height: 80px;
}

p {
   font-weight: bold
}